<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>C</b>N</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Company</b>Name</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
{#                    <li class="dropdown messages-menu">#}
{#                        <!-- Menu toggle button -->#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                            <i class="fa fa-envelope-o"></i>#}
{#                            <span class="label label-success">4</span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li class="header">You have 4 messages</li>#}
{#                            <li>#}
{#                                <!-- inner menu: contains the messages -->#}
{#                                <ul class="menu">#}
{#                                    <li><!-- start message -->#}
{#                                        <a href="#">#}
{#                                            <div class="pull-left">#}
{#                                                <!-- User Image -->#}
{#                                                <img src="{{ STATIC_URL }}dist/img/user2-160x160.jpg" class="img-circle"#}
{#                                                     alt="User Image">#}
{#                                            </div>#}
{#                                            <!-- Message title and timestamp -->#}
{#                                            <h4>#}
{#                                                Support Team#}
{#                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>#}
{#                                            </h4>#}
{#                                            <!-- The message -->#}
{#                                            <p>Why not buy a new awesome theme?</p>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <!-- end message -->#}
{#                                </ul>#}
{#                                <!-- /.menu -->#}
{#                            </li>#}
{#                            <li class="footer"><a href="#">See All Messages</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <!-- /.messages-menu -->#}
{##}
{#                    <!-- Notifications Menu -->#}
{#                    <li class="dropdown notifications-menu">#}
{#                        <!-- Menu toggle button -->#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                            <i class="fa fa-bell-o"></i>#}
{#                            <span class="label label-warning">10</span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li class="header">You have 10 notifications</li>#}
{#                            <li>#}
{#                                <!-- Inner Menu: contains the notifications -->#}
{#                                <ul class="menu">#}
{#                                    <li><!-- start notification -->#}
{#                                        <a href="#">#}
{#                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <!-- end notification -->#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="footer"><a href="#">View all</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <!-- Tasks Menu -->#}
{#                    <li class="dropdown tasks-menu">#}
{#                        <!-- Menu Toggle Button -->#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                            <i class="fa fa-flag-o"></i>#}
{#                            <span class="label label-danger">9</span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li class="header">You have 9 tasks</li>#}
{#                            <li>#}
{#                                <!-- Inner menu: contains the tasks -->#}
{#                                <ul class="menu">#}
{#                                    <li><!-- Task item -->#}
{#                                        <a href="#">#}
{#                                            <!-- Task title and progress text -->#}
{#                                            <h3>#}
{#                                                Design some buttons#}
{#                                                <small class="pull-right">20%</small>#}
{#                                            </h3>#}
{#                                            <!-- The progress bar -->#}
{#                                            <div class="progress xs">#}
{#                                                <!-- Change the css width attribute to simulate progress -->#}
{#                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"#}
{#                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
{#                                                     aria-valuemax="100">#}
{#                                                    <span class="sr-only">20% Complete</span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <!-- end task item -->#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="footer">#}
{#                                <a href="#">View all tasks</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{ STATIC_URL }}dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Alexander Pierce</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{ STATIC_URL }}dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    Alexander Pierce - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url "logout" %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
{#            <div class="user-panel">#}
{#                <div class="pull-left image">#}
{#                    <img src="{{ STATIC_URL }}dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
{#                </div>#}
{#                <div class="pull-left info">#}
{#                    <p>Alexander Pierce</p>#}
{#                    <!-- Status -->#}
{#                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
{#                </div>#}
{#            </div>#}

            <!-- search form (Optional) -->
{#            <form action="#" method="get" class="sidebar-form">#}
{#                <div class="input-group">#}
{#                    <input type="text" name="q" class="form-control" placeholder="Search...">#}
{#              <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </span>#}
{#                </div>#}
{#            </form>#}
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="#"><i class="fa fa-home"></i> <span>Home</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Another Link</span></a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o text-red"></i> <span>Multilevel</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#">Link in level 2</a></li>
                        <li><a href="#">Link in level 2</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
{#        <section class="content-header">#}
{#            <h1>#}
{#                Page Header#}
{#                <small>Optional description</small>#}
{#            </h1>#}
{#            <ol class="breadcrumb">#}
{#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#                <li class="active">Here</li>#}
{#            </ol>#}
{#        </section>#}
        <!-- Main content -->
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </div>

{#    <footer class="main-footer">#}
{#        <div class="pull-right hidden-xs">#}
{#            Anything you want#}
{#        </div>#}
{#        <!-- Default to the left -->#}
{#        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.#}
{#    </footer>#}
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="{{ STATIC_URL }}js/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ STATIC_URL }}css/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ STATIC_URL }}dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
