{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Title</h3>
        </div>
        <div class="box-body">
            Start creating your amazing application!
        </div>
    </div>
{% endblock %}